*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
}
aside
{
   
    width: 100%;
    background-color: #4d4d4d;
    color: #fff;
    padding: 10px;
}
main section
{
    
    width: 100%;
    height: 100px;
}
main section .s_title
{
    float: left;
    width: 10%;
    height: 100px;
    line-height: 100px;
    background-color: #ccc;
    font-size: 15px;
    text-align: center;
    border-bottom:1px solid #fff;
}
main section .s_content
{
    float: right;
    width: 90%;
    height: 100px;
    padding: 10px;
    border-bottom:1px solid #ccc;
}
.s_content .c_title
{
    font-weight: bold;
    margin-right: 3px;
}
.s_content .c_content
{
    margin-right: 10px;
}